DATABASE_URL=sqlite:///./finance_agent.db

LLM_PROVIDER=openai
LLM_API_KEY=proj-mXXETNEQ5N4UqgVNqJZTX2YJdw6mvsZFymGc501sRIitExEniTtb2cpLckLgnus1lHKJOzdD90T3BlbkFJjddivr46kmARw_nKt8Jtsy5lHkMpmhFCBhEPfFkpMKHS7jt5Rcou041rpNgSQ7pAXGXsRSfvwA

JWT_SECRET_KEY=5e9b2267e639a4ba2bf3d602a5a6660929398f804333af17c6529020278380fb
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30