DATABASE_URL=sqlite:///./finance_agent.db

LLM_PROVIDER=openai
LLM_API_KEY=4QohLZwKQiuGUiIkRnB2OGmxHXiTroI2V129_52ZN3NokB1nEF6RRRmwjrJJN9iiqJxA_swOANT3BlbkFJBLRtYS2kBfdzTIEwXQrZQgm7D00XEWcIUF7C3wKimkQknI840Oz3gcJ_XmZ3sXrv9euh82AIMA
JWT_SECRET_KEY=e0507e064e12398e1ad15a0405f442d6c491397fd3929df4623d0a688a5133e0
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
